@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:wght@700&family=Beau+Rivage&family=Bree+Serif&family=Concert+One&family=Domine:wght@700&family=Exo+2:ital,wght@0,400;1,300;1,400&family=Josefin+Sans:ital@1&family=Lato:ital@1&family=Lobster&family=Rampart+One&family=Roboto+Serif:wght@300&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    width: 35%;
    height: 40%;
    border: 2px solid black;
    border-radius: 0.5em;
    background-color: rgb(134 239 172);
}
form{
    margin-left: 10%;
}
label{
    font-size: 1.5em;
   font-family: Abril fatFace;
}
#send-mail{
    margin-left: 25%;
    margin-top: 4%;
    padding: 1.5%;
    border-radius: 0.5rem;
    font-family: Abril fatFace;
}
@media(max-width:576.98px){
    .wrapper{
        height: 74%;
        width: 88%;
    }
    .pass-title span{
        font-size: 2.5em;
    }
  }
  @media (max-width: 767.98px) {
    .wrapper{
        width: 62%;
    }
  }
  @media (max-width: 991.98px) {
    .wrapper{
        width: 49%;
        height: 31%;
    }
    
   }
@media (max-width: 1199.98px) {
    .wrapper{
    width: 43%;
    height: 26%;
    }
    #send-mail{
        font-size: 1.5em;
    }
}
@media (max-width: 1399.98px) { 
    .wrapper{
        height: 23%;
    }
    label{
        margin-left: -3%;
        font-size: 1.8em;
    }
    input{
        font-size: 1.2em;
    width: 50%;
    margin-left: 2%;
    }
    #send-mail{
        height: 10%;
    font-size: 1.5em;
    }
   
 }

 