
  @import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Alfa+Slab+One&family=Arvo:wght@700&family=Beau+Rivage&family=Bree+Serif&family=Concert+One&family=Domine:wght@700&family=Exo+2:ital,wght@0,400;1,300;1,400&family=Josefin+Sans:ital@1&family=Lato:ital@1&family=Lobster&family=Rampart+One&family=Righteous&family=Roboto+Serif:wght@300&family=Yellowtail&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    
}
.wrapper{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.form-area{
    width: 50%;
    height: 100%;
}
.text-area{
    width: 50%;
    height: 100%;
}
form{
    border: 2px solid black;
    border-radius: 1rem;
    padding: 2%;
    background-color: rgb(244 63 94);
}
label,input{
    margin-left: 3%;
    color: white;
    font-family: Abril fatFace;
    font-weight: 600;
}
input{
    color: black;
}
#submit{
    margin-left: 20%;
    width: 30%;
    padding: 1%;
    border-radius: 0.5rem;
    font-family: Abril fatFace;
    
}
#image-preview{
    width: 80%;
}
#show-area{
    width: 85%;
    height: 70%;
    background-color: rgb(74 4 78);
    color: white;
    font-family: Abril fatFace;

}
@media (max-width: 1399.98px){
    form{
        height: 62%;
    }
    label{
        font-size: 1.7em;
    }
    button{
        font-size: 1.5em;
    }
    input{
        font-size: 1.4em;
    }
    #show-area{
        font-size: 1.8em;
    }
}
@media (max-width: 1199.98px) { 
    form{
        height: 67%;
    }
}
@media (max-width: 991.98px) {
    .form-area{
        width:62%;
        height: 100%;
        margin-right: 2%;
    }
    .form-area form{
        width: 100%;
        height: 80%;

    }
    .text-area{
        width: 36%;
    }
    .text-area textarea{
        width: 100%;
    }
}
@media (max-width: 767.98px) { 
    .form-area form{
        height: 97%;
    }
    label,input{
        font-size: 1.3em;
    }
    #submit{
        font-size: 1.3em;
    }
    .text-area text-area{
        font-size: 1.3em;
    }
    #show-area{
        width: 100%;
    }
}
@media (max-width: 575.98px) { 
    label,input{
        font-size: 1.1em;
    }
 }